/*
 * Foundation.css
 * Resets, normalizations, grid, breakpoints, and more.
 * v1.0.0
 *
 * Put what you need in critical, the rest at the begining of your
 * master stylesheet...
 * And remove what you don't use!
 *
 * Contents:
 * 1. Font Face
 * 2. Meta Viewport
 * 3. Resets
 * 4. Normalizations
 * 5. Helpers
 * 6. Simple Grid
 * 7. Browser Specific Rules
 * 8. OS Rules
 *
 * Note: 'Edge' refers to versions 12 to 18
 */




/*
 * 1. Font Face
 */

@font-face {
  src:
    local('Your Font'), 
    local('YourFont'), /* Possible variant in naming, FYI */
    /* 
     * DO NOT use local() if you plan to preload the same font resource:
     * With preload, the browser priortizes the resource by fetching and 
     * caching it immediately. If the browser finds it locally first, as 
     * directed with local(), it will use that and not bother fetching 
     * what's in url(). And so you've told the browser to preload a 
     * resource that won't be used.
     * You WILL get a warning in your console for doing that.
     */
    url('/fonts/YourFont.woff2') format('woff2'),
    url('/fonts/YourFOnt.woff') format('woff'); /* IE 10+, all browsers */
    /* 
     * TrueType and OpenType are excluded because their SUPPORTED percentage
     * is actually worse than the Web Open Font Format
     */
  font-family: 'Your Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


/*
 * 2. Meta Viewport for IE 10+, Edge
 */

 @-ms-viewport {
  width: device-width;
}


/*
 * 3. Resets
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
menu,
dd,
hr,
pre,
button,
input,
select,
textarea,
fieldset,
legend,
figure,
blockquote,
iframe,
dialog,
table,
th,
td,
tbody,
tr,
tfoot,
thead,
colgroup {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
select,
progress,
meter {
  -moz-appearance: none;  /* Firefox */
  -webkit-appearance: none;  /* Chrome, Safari */
  appearance: none;  /* Edge, possibly future? */
}

ol,
ul {
  list-style: none;
}

/* 
 * Important!
 * If you plan to keep the above ruleset of ol and/or ul, then the ruleset 
 * below is needed for VoiceOver in Safari. Otherwise VoiceOver will not 
 * register the list as a list.
 */
li::before {
  content: '\200C';
  position: absolute; /* Only needed if some lists will have list-style */
}

a,
abbr {
  text-decoration: none;
}

dfn,
address {
  font-style: normal;
}


/*
 * 4. Normalizations
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 400 1.125em 'Your Font', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background: #FFF;
}

body {
  -ms-text-size-adjust: 100%;  /* Edge, IE Mobile */
  -moz-text-size-adjust: 100%;  /* Firefox Android */
  -webkit-text-size-adjust: 100%;  /* iOS Safari 5+ */
  text-size-adjust: 100%;
  -ms-touch-action: manipulation;  /* IE 10 */
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;  /* Firefox Mac OS */
  -webkit-font-smoothing: antialiased; /* Chrome, Safari Mac OS */
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Mimic Mac OS for Windows */
}

input,
select,
button,
textarea {
  font: inherit;
}

main, /* IE 10 */
details, /* IE, Edge */
video,
img,
object,
svg,
iframe,
embed {
  display: block;
}

summary {
  display: list-item; /* 'block' breaks in Firefox */
}

img,
svg,
object {
  font-size: 0;
}

a {
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select,
button,
input,
[role=button] {
  box-sizing: content-box;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-rendering: geometricPrecision;
}

p {
  letter-spacing: 0.01em;
  line-height: 1.5;
  -ms-hyphens: none;  /* IE 10+, Edge */
  -moz-hyphens: none;  /* Firefox < 45 */
  -webkit-hyphens: none;  /* Safari 5+ */
  hyphens: none;
  /* Note: a 'lang' attr has to be defined in the <html> to use hyphens */
}


/*
 * 5. Helpers
 */

/* Long bodies of text */
.long {
  text-rendering: optimizeSpeed;
}

/* Clear Float */
.clearme {
  clear: both;
}

/* No break */
.nobr {
  white-space: nowrap;
}


/*
 * 6. Simple Grid with Breakpoints
 */

[data-wrap],
[data-grid] {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
  margin: 0 auto;
}

[data-grid] {
  display: grid;
  grid: none / repeat(12, 1fr);
  grid-column-gap: 18px;
  column-gap: 18px;
}

/* Phone Landscape */
@media (min-width:540px) {

}

/* Tablet Portrait */
@media (min-width:766px) {

  [data-wrap],
  [data-grid] {
    padding-right: 24px;
    padding-left: 24px;
  }

  [data-grid] {
    grid-column-gap: 24px;
    column-gap: 24px;
  }

}

/* 
 * iPhone X, XS, XR, XS Max Landscape
 * Only if meta viewport content has 'viewport-fit=cover'
 */
@media (min-width:810px) and (max-height:416px) {
  [data-wrap],
  [data-grid] {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}


/* Tablet Landscape */
@media (min-width:1022px) {

}

/* Desktop */
@media (min-width:1278px) {

  html {
    font-size: 1.25em;
  }

  [data-wrap],
  [data-grid] {
    width: 84%;
    max-width: 1436px;
    padding-right: 30px;
    padding-left: 30px;
  }

  [data-grid] {
    grid-column-gap: 30px;
    column-gap: 30px;
  }

}

/* Large Desktop */
@media (min-width:1678px) {

  html {
    font-size: 1.38em;
  }

}


/* 
 * 7. Browser Specific Rules
 */

/* Chrome & Opera */
@supports (-webkit-app-region:drag) {

}

/* Safari */
@supports (-webkit-marquee:revert) {

}

/* Firefox */
@supports (-moz-orient:vertical) {

}

/* Edge */
@supports (-ms-ime-align:auto) {

}


/* 
 * 8. OS Rules
 */

/* Reduced motion */
@media (prefers-reduced-motion:reduce) {

}

/* Theme */
@media (prefers-color-scheme:dark) {

}
